/* allows resizing for different screen sizes*/
* {
    padding: 0;
    margin: 0;
    flex-direction: column;

}

body {
    background-color: black;
}

/* fixed to the left side */
header {
    background-color: #0072bb;
    font-family: "Gill Sans", sans-serif;
    color: #ffffff;
    float: left; 
    width: 11rem;
    height: 100vh;
    padding: 1%;
}

/* pfp */
header img {
    width: 100%;
    object-fit: contain;
    border-radius: 15%;
  
}
  /* Jonah Tapia */
header h1 {
justify-content: center;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    line-height: 25pt;
}

header nav ul {
    list-style-type: none;
}

/*links in header name aluminate a lighter blue color on hover*/
header nav a {
    color: #ffffff;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

 header nav a:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: black;
}

p {
    font-size: 16px;
    line-height: 16pt;
}

.content {
    margin-left: 225px;
    margin-right: 25px;
    margin-top: 25px;
    position: relative;
}

main div {
    margin-bottom: 20px;
    padding: 50px;
    height: fit-content;
    font-family: "Gill Sans", sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* make text and img stay together on resizing */
.wrapper {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.wrapper a {
   color: white; 
   text-decoration: none;
}


/* makes img link enlarge when hover */
.dialate {
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}     
.dialate:hover {
    transform: scale(1.5);
}

.contactMe {
    list-style: none;
}

.resume a {
    color: #ffffff;
    text-decoration: none;    
}

main div img {
    max-height: 200px
}

main div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 5px;
    clear: both;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    background-color: #0072bb;

}

.footer h2 {
    font-size: 18px;
}